<table class="article-table">
    <tbody>
       <tr>
          <th>
          </th>

          <th>Name
          </th>
          <th>Unlock Criteria
          </th>
          <th>Ability
          </th>
       </tr>
       <tr>
          <td><b>Agent</b>
          </td>
          <td>Evelyn Delouis
          </td>
          <td>At Game Start
          </td>
          <td>
            At the start of a ground combat round: <br><br>You may exhaust this card to choose 1 ground force in the active system; that ground force rolls 1 additional die during that combat round.
          </td>
       </tr>
       <tr>
          <td><b>Commander</b>
          </td>
          <td>Claire Gibson
          </td>
          <td>Control planets that have a combined total of at least 12 resources.
          </td>
          <td>At the start of a ground combat on a planet you control: <br><br>You may place 1 infantry from your reinforcements on that planet.
          </td>
       </tr>
       <tr>
          <td><b>Hero</b>
          </td>
          <td>Jace X. 4th Air Legion
          </td>
          <td>Have 3 Scored Objectives
          </td>
          <td>
             <b>HELIO COMMAND ARRAY</b>
             <p><br>
               ACTION: Remove each of your command tokens from the game board and return them to your reinforcements. Then, purge this card.
             </p>
          </td>
       </tr>
    </tbody>
 </table>