<table class="faction-flagship">
    <tr class="faction-flagship-text">
       <th colspan="4" style="text-align:center;">Genesis</th>
    </tr>
    <tr>
       <td colspan="4" class="faction-flagship-text">
         At the end of the status phase, place 1 infantry from your reinforcements in this system's space area.
        <p class="faction-flagship-text"><b>Sustain Damage </b></p>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship-text"><b>8</b>
       </td>
       <td class="faction-flagship-text"><b>5(x2)</b>
       </td>
       <td class="faction-flagship-text"><b>1</b>
       </td>
       <td class="faction-flagship-text"><b>12</b>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship-text">Cost
       </td>
       <td class="faction-flagship-text">Combat
       </td>
       <td class="faction-flagship-text">Move
        </td>
        <td class="faction-flagship-text">Capacity
        </td>
    </tr>
 </table>