---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sundered Stars</title>
    <link rel="stylesheet" href="/styles/secret-section.css">
    <link rel="stylesheet" href="/styles/character-menu.css">
    <script src="/scripts/character-menu.js" defer></script>
    <script src="/scripts/theme-switcher.js"></script>
</head>
<body>
    <div class="system-info" data-system-id="SHIP">
        <div class="ship-info">{{ site.ship_info.SHIP.name }}</div>
        <div class="ai-name">{{ site.ship_info.SHIP.ai_name }}</div>
        <div class="version">{{ site.ship_info.SHIP.version }}</div>
        <button id="theme-toggle" class="theme-toggle">
            <span class="theme-icon">{{ site.ship_info.SHIP.theme_icon }}</span>
        </button>
        <div class="dropdown">
            <button class="dropbtn">☰</button>
            <div class="dropdown-content">
                {% include dropdown-content.html %}
            </div>
        </div>
        <button id="wiki-link" class="wiki-button" onclick="window.location.href='/wiki';">
            Wiki
        </button>
    </div>

    <!-- Pop-up Modals -->
<div id="popup" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="popup-title"></h2>
        <p id="popup-description"></p>
    </div>
</div>

    <header class="mission-header">
        <nav class="section-nav">
            <a href="/" class="nav-link">MISSION LOG</a>
            <a href="/codex-section" class="nav-link">CODEX</a>
            <a href="/map-section" class="nav-link">MAP</a>
            <a href="/news-section" class="nav-link">NET</a>
            <a href="/character-menu" class="nav-link active">CREW</a>
        </nav>
    </header>

    <main class="character-menu">
        <div class="character-list" id="character-list">
            {% for character in site.characters %}
                <div class="character-card {% if character.is_player_character %}player-character{% endif %}" data-name="{{ character.name | slugify }}">
                    <div class="character-portrait-pane">
                        <img src="{{ character.image }}" alt="{{ character.name }}" class="character-image">
                    </div>
                    <div class="character-info">
                        <h2>{{ character.name }}</h2>
                        <div>Max HP: {{ character.max_hp }}</div>
                        <div>Class: {{ character.class }}</div>
                        <div>Level: {{ character.level }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="character-details" id="character-details">
            <div id="markdown-content">
                <p>Select a character to view details.</p>
            </div>
        </div>
    </main>
    
</body>
</html>
