---
layout: default
styles:
  - /styles/galactic-net.css
---
<link rel="stylesheet" href="{{ '/styles/global-theme.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/styles/galactic-net.css' | relative_url }}">
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/styles/map-section.css">
<link rel="stylesheet" href="/styles/character-menu.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script src="/scripts/character-menu.js" defer></script>
<script src="/scripts/load-inventory.js" defer></script>
<script src="/scripts/theme-switcher.js"></script>
<script src="/scripts/character-level-check.js" defer></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CYCP7MTKDG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CYCP7MTKDG');
</script>
<body>

    <!-- Pop-up Modals -->
<div id="popup" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="popup-title"></h2>
        <p id="popup-description"></p>
    </div>
</div>

    <main class="character-menu">
        <div class="character-list" id="character-list">
            {% for character in site.characters %}
                <div class="character-card {% if character.is_player_character %}player-character{% endif %}" data-name="{{ character.name | slugify }}">
                    <div class="character-portrait-pane">
                        <img src="{{ character.image }}" alt="{{ character.name }}" class="character-image">
                    </div>
                    <div class="character-info">
                        <h2 class="character-name" id="character-name">{{ character.name }}</h2>
                        <div class="character-stats">
                            <div>Max HP: <span class="stat-value" id="max-hp">{{ character.max_hp }}</span></div>
                            <div>Class: <span class="stat-value" id="class">{{ character.class }}</span></div>
                            <div>Level: <span class="stat-value" id="level">{{ character.level }}</span></div>
                            <div>Experience: <span class="stat-value" id="experience">{{ character.experience }}</span> / <span class="stat-value" id="required-xp">{{ character.required_xp }}</span></div>                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="character-details" id="character-details">
            <div id="markdown-content">
                <p>Select a character to view details.</p>
            </div>
        </div>
    </main>
</body>
</html>
