
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .map-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
        position: relative;
    }

    .map-tile {
        width: 107px;
        height: 92px; /* Adjusted height to make hexagons fit */
        position: absolute;
        background-size: cover;
    }
    .map-tile:hover {
        background-color: rgb(226, 166, 35); /* Adjust as necessary */
        z-index: 1; /* Set higher than default */
        clip-path: polygon(24% 0%, 74% -1%, 101% 51%, 74% 101%, 24% 100%, -1% 50%); /* Hexagon clip path */
    }

    
    #used-tiles-display {
     
      
      color: orange;
    }
    .tile-pane {
        float: left;
        width: 200px; /* Adjust as needed */
        height: 100%; /* Match the height of the map container */
        overflow-y: auto; /* Enable vertical scrolling if needed */
    }

    .tile-pane img {
        display: block;
        margin-bottom: 5px; /* Adjust spacing between images */
    }
    .tile-image {
    width: 80%; /* Scale down by 80% */
    margin-bottom: 5px; /* Add margin between images */
}