.grid {
    background-image: url("images/galaxy-wide-copy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(50, 1fr);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border-radius: 50%;
    border: solid 3px #000b70ab;
    font-family: 'Lucida Console';
}

#coordinates-window {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
}
.cell {
    border: 1px solid #4e9eac;
    position: relative;
}
.cell:hover {
    background-color: #e7db34;
}

.label {
    color: #ffffff;
    font-weight: bold;
    animation: rotate 120s linear infinite;
    position: absolute;
    left: 50px;
    user-select: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    animation: pulse 1s ease-in-out infinite;
    z-index: 1;
}

/* system colors */
.point.heart {
    background-color: rgb(255, 249, 196);
    width: 20px;
    height: 20px;
    animation: pulse-heart 1s ease-in-out infinite;
}

.point.industrial-planet {
    background-color: rgb(6, 160, 70);
    animation: pulse-industry 1s ease-in-out infinite;
}

.point.cultural-planet {
    background-color: rgb(6, 55, 160);
    animation: pulse-culture 1s ease-in-out infinite;
}

.point.alpha-wormhole {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 94, 0);
    animation: pulse-alpha 1s ease-in-out infinite;
}

.point.delta-wormhole {
    width: 20px;
    height: 20px;
    background-color: rgb(140, 0, 255);
    animation: pulse-delta 1s ease-in-out infinite;
}

.point.mecatol-rex {
    width: 26px;
    height: 26px;
    background-color: rgba(255, 208, 0, 0.808);
    animation: pulse-delta 1s ease-in-out infinite;
}

.info {
    display: none;
}

#overlay img {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    border: solid 4px #000b70ab;
    border-radius: 10%;
    background-color: rgb(105, 105, 105);
}

#vertical-line, #horizontal-line {
    position: absolute;
    background: #000;
}

#vertical-line {
    width: 1px;
    height: 100%;
    border: 1px solid #dd5757;
    pointer-events: none;
}

#horizontal-line {
    width: 100%;
    height: 1px;
    border: 1px solid #dd5757;
    pointer-events: none;
}

#cursor-circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #dd5757;
    pointer-events: none; /* This allows mouse events to pass through the circle */
}


/*  Animations */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse-culture {
    0% {
        box-shadow: 0 0 5px #124bc7, 0 0 10px #124bc7, 0 0 15px #124bc7, 0 0 20px #124bc7;
    }
    50% {
        box-shadow: 0 0 50px #124bc7, 0 0 20px #124bc7, 0 0 30px #124bc7, 0 0 40px #124bc7;
    }
    100% {
        box-shadow: 0 0 5px #124bc7, 0 0 10px #124bc7, 0 0 15px #124bc7, 0 0 20px #124bc7;
    }
}
@keyframes pulse-industry {
    0% {
        box-shadow: 0 0 5px #04af20, 0 0 10px #04af20, 0 0 15px #04af20, 0 0 20px #04af20;
    }
    50% {
        box-shadow: 0 0 50px #04af20, 0 0 20px #04af20, 0 0 30px #04af20, 0 0 40px #04af20;
    }
    100% {
        box-shadow: 0 0 5px #04af20, 0 0 10px #04af20, 0 0 15px #04af20, 0 0 20px #04af20;
    }
}

@keyframes pulse-heart {
    0% {
        box-shadow: 0 0 5px #fffd9e, 0 0 10px #fffd9e, 0 0 15px #fffd9e, 0 0 20px #fffd9e;
    }
    50% {
        box-shadow: 0 0 50px #fffd9e, 0 0 20px #fffd9e, 0 0 30px #fffd9e, 0 0 40px #fffd9e;
    }
    100% {
        box-shadow: 0 0 5px #fffd9e, 0 0 10px #fffd9e, 0 0 15px #fffd9e, 0 0 20px #fffd9e;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000;
    }
    50% {
        box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000;
    }
    100% {
        box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000;
    }
}

@keyframes pulse-alpha {
    0%, 100% {
        box-shadow: 0 0 5px rgb(255, 94, 0), 0 0 10px rgb(255, 94, 0), 0 0 15px rgb(255, 94, 0), 0 0 20px rgb(255, 94, 0);
    }
    50% {
        box-shadow: 0 0 10px rgb(255, 94, 0), 0 0 20px rgb(255, 94, 0), 0 0 30px rgb(255, 94, 0), 0 0 40px rgb(255, 94, 0);
    }
}

@keyframes pulse-delta {
    0%, 100% {
        box-shadow: 0 0 5px rgb(140, 0, 255), 0 0 10px rgb(140, 0, 255), 0 0 15px rgb(140, 0, 255), 0 0 20px rgb(140, 0, 255);
    }
    50% {
        box-shadow: 0 0 10px rgb(140, 0, 255), 0 0 20px rgb(140, 0, 255), 0 0 30px rgb(140, 0, 255), 0 0 40px rgb(140, 0, 255);
    }
}