<table class="article-table">
    <tbody>
       <tr>
          <th>
          </th>

          <th>Name
          </th>
          <th>Unlock Criteria
          </th>
          <th>Ability
          </th>
       </tr>
       <tr>
          <td><b>Agent</b>
          </td>
          <td>Garv and Gunn
          </td>
          <td>At Game Start
          </td>
          <td>
            At the end of a player's turn:
            You may exhaust this card to allow that player to explore 1 of their planets.
          </td>
       </tr>
       <tr>
          <td><b>Commander</b>
          </td>
          <td>Dart and Tai
          </td>
          <td>Have 3 mechs in 3 systems
          </td>
          <td>After you gain control of a planet that was controlled by another player: You may explore that planet.
          </td>
       </tr>
       <tr>
          <td><b>Hero</b>
          </td>
          <td>Hesh and Prit
          </td>
          <td>Have 3 Scored Objectives
          </td>
          <td>
             <b>PERFECT SYNTHESIS</b>
             <p><br>
               ACTION: Gain 1 relic and perform the secondary ability of up to 2 readied or unchosen strategy cards; during this action, spend command tokens from your reinforcements instead of your strategy pool. Then, purge this card.
             </p>
          </td>
       </tr>
    </tbody>
 </table>