<table class="faction-flagship">
    <tr class="faction-flagship-text">
       <th colspan="4" style="text-align:center;">Visz el Vir</th>
    </tr>
    <tr>
       <td colspan="4" class="faction-flagship-text">
         Your mechs in this system roll 1 additional die during combat.
        <p class="faction-flagship-text"><b>Sustain Damage </b></p>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship-text"><b>8</b>
       </td>
       <td class="faction-flagship-text"><b>9(x2)</b>
       </td>
       <td class="faction-flagship-text"><b>1</b>
       </td>
       <td class="faction-flagship-text"><b>4</b>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship-text">Cost
       </td>
       <td class="faction-flagship-text">Combat
       </td>
       <td class="faction-flagship-text">Move
        </td>
        <td class="faction-flagship-text">Capacity
        </td>
    </tr>
 </table>