<table class="faction-mech">
    <tr class="faction-mech">
       <th colspan="2" style="text-align:center;">Eidolon</th>
    </tr>
    <tr>
       <td colspan="2" class="faction-mech">
         If this unit is in the space area of the active system at the start of a space combat, flip this card.
          <p class="faction-mech"><b>Sustain Damage </b></p>
          (This card begins the game with this side face up)
       </td>
    </tr>
    <tr>
       <td class="faction-mech"><b>2</b>
       </td>
       <td class="faction-mech"><b>6(x2)</b>
       </td>
    </tr>
    <tr>
       <td class="faction-mech">Cost
       </td>
       <td class="faction-mech">Combat
       </td>
    </tr>
 </table>
 <table class="faction-mech">
   <tr class="faction-mech">
      <th colspan="2" style="text-align:center;">Z-Grav Eidolon</th>
   </tr>
   <tr>
      <td colspan="2" class="faction-mech">
         If this unit is in the space area of the active system, it is also a ship. At the end of a space battle in the active system, flip this card.<br><br>
         (This card begins the game with this side face down)
      </td>
   </tr>
   <tr>
      <td class="faction-mech"><b>2</b>
      </td>
      <td class="faction-mech"><b>8(x2)</b>
      </td>
   </tr>
   <tr>
      <td class="faction-mech">Cost
      </td>
      <td class="faction-mech">Combat
      </td>
   </tr>
</table>

<!-- this is file that we can potentially reference again to generate more complicated layouts. Put the html file in the _includes dir and then call it in the post. -->