<table class="league-table">
    <thead>
      <tr>
        <th>Contenders</th>
        <th style="text-align: center">Icon</th>
        <th style="text-align: center">Faction</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ACW</td>
        <td style="text-align: center"><img src="/images/faction-icons/Sol.png" alt="" /></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-federation-of-sol/">The Federation of Sol</a></td>
      </tr>
      <tr>
        <td>AW</td>
        <td style="text-align: center"><img src="/images/faction-icons/Saar.png" alt="" /></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-clan-of-saar/">The Clan of Saar</a></td>
      </tr>
      <tr>
        <td>JM</td>
        <td style="text-align: center"><img src="/images/faction-icons/Yssaril.png" alt="" /></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-nomad/">The Yssaril Tribes</a></td>
      </tr>
      <tr>
        <td>JO</td>
        <td style="text-align: center"><img src="/images/faction-icons/Muaat.png" alt="" /></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-embers-of-muaat/">The Embers of Muaat</a></td>
      </tr>
      <tr>
        <td>RC</td>
        <td style="text-align: center"><img src="/images/faction-icons/Mentak.png" alt="" /></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-mentak-coalition/">The Mentak Coalition</a></td>
      </tr>
      <tr>
        <td>TP</td>
        <td style="text-align: center"><img src="/images/faction-icons/Cabal.png" alt="" /></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-vuil-raith-cabal/">The Vuil’Raith Cabal</a></td>
      </tr>

    </tbody>
  </table>
