<table class="league-table">
    <thead>
      <tr>
        <th>Contenders</th>
        <th style="text-align: center">Icon</th>
        <th style="text-align: center">Faction</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ACW</td>
        <td style="text-align: center"><img src="/images/question-what.gif" alt="" style="height: 50px;"/></td>
        <td style="text-align: center"><a href="{{ site.url }}/mahact-gene-sorcerers/"></a></td>
      </tr>
      <tr>
        <td>AW</td>
        <td style="text-align: center"><img src="/images/question-what.gif" alt="" style="height: 50px;"/></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-titans-of-ul/"></a></td>
      </tr>
      <tr>
        <td>JM</td>
        <td style="text-align: center"><img src="/images/question-what.gif" alt="" style="height: 50px;"/></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-nomad/"></a></td>
      </tr>
      <tr>
        <td>JO</td>
        <td style="text-align: center"><img src="/images/question-what.gif" alt="" style="height: 50px;"/></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-titans-of-ul/"></a></td>
      </tr>
      <tr>
        <td>RC</td>
        <td style="text-align: center"><img src="/images/question-what.gif" alt="" style="height: 50px;"/></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-naaz-rokha-alliance/"></a></td>
      </tr>
    </tbody>
  </table>
