<table class="league-table">
    <thead>
      <tr>
        <th>Contenders</th>
        <th style="text-align: center">Icon</th>
        <th style="text-align: center">Faction</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ACW</td>
        <td style="text-align: center"><img src="/images/faction-icons/Jol-Nar.png" alt="" style="height: 50px;"/></td>
        <td style="text-align: center"><a href="{{ site.url }}/universities-of-jol-nar/">The Universities of Jol-Nar</a></td>
      </tr>
      <tr>
        <td>AW</td>
        <td style="text-align: center"><img src="/images/faction-icons/Cabal.png" alt="" style="height: 50px;"/></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-vuil-raith-cabal/">The Vuil'Raith Cabal</a></td>
      </tr>
      <tr>
        <td>JM</td>
        <td style="text-align: center"><img src="/images/faction-icons/titans.png" alt="" style="height: 50px;"/></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-titans-of-ul/">The Titans of Ul</a></td>
      </tr>
      <tr>
        <td>JO</td>
        <td style="text-align: center"><img src="/images/faction-icons/Mahact.png" alt="" style="height: 50px;"/></td>
        <td style="text-align: center"><a href="{{ site.url }}/mahact-gene-sorcerers/">The Mahact Gene-sorcerers</a></td>
      </tr>
      <tr>
        <td>RC</td>
        <td style="text-align: center"><img src="/images/faction-icons/Empyrean.png" alt="" style="height: 50px;"/></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-empyrean/">The Empyrean</a></td>
      </tr>
    </tbody>
  </table>
