<table class="league-table">
    <thead>
      <tr>
        <th>Contenders</th>
        <th style="text-align: center">Icon</th>
        <th style="text-align: center">Faction</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ashlee</td>
        <td style="text-align: center"><img src="/images/faction-icons/Mahact.png" alt="" /></td>
        <td style="text-align: center"><a href="{{ site.url }}/mahact-gene-sorcerers/">The Mahact Gene-Sorcerers</a></td>
      </tr>
      <tr>
        <td>Jacob</td>
        <td style="text-align: center"><img src="/images/faction-icons/Nomad.png" alt="" /></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-nomad/">The Nomad</a></td>
      </tr>
      <tr>
        <td>Ross</td>
        <td style="text-align: center"><img src="/images/faction-icons/naaz-rokha.png" alt="" /></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-naaz-rokha-alliance/">The Naaz-Rokha Alliance</a></td>
      </tr>
      <tr>
        <td>Tim</td>
        <td style="text-align: center"><img src="/images/faction-icons/titans.png" alt="" /></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-titans-of-ul/">The Titans of Ul</a></td>
      </tr>
      <tr>
        <td>William B</td>
        <td style="text-align: center"><img src="/images/faction-icons/Sol.png" alt="" /></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-federation-of-sol/">The Federation of Sol</a></td>
      </tr>
      <tr>
        <td>William L</td>
        <td style="text-align: center"><img src="/images/faction-icons/Yin.png" alt="" /></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-yin-brotherhood/">The Yin Brotherhood</a></td>
      </tr>
    </tbody>
  </table>