<table class="league-table">
    <thead>
      <tr>
        <th>Contenders</th>
        <th style="text-align: center">Icon</th>
        <th style="text-align: center">Faction</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ACW</td>
        <td style="text-align: center"><img src="/images/faction-icons/Mahact.png" alt="" /></td>
        <td style="text-align: center"><a href="{{ site.url }}/mahact-gene-sorcerers/">The Mahact Gene-Sorcerers</a></td>
      </tr>
      <tr>
        <td>JM</td>
        <td style="text-align: center"><img src="/images/faction-icons/Nomad.png" alt="" /></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-nomad/">The Nomad</a></td>
      </tr>
      <tr>
        <td>RC</td>
        <td style="text-align: center"><img src="/images/faction-icons/naaz-rokha.png" alt="" /></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-naaz-rokha-alliance/">The Naaz-Rokha Alliance</a></td>
      </tr>
      <tr>
        <td>TP</td>
        <td style="text-align: center"><img src="/images/faction-icons/titans.png" alt="" /></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-titans-of-ul/">The Titans of Ul</a></td>
      </tr>
      <tr>
        <td>WB</td>
        <td style="text-align: center"><img src="/images/faction-icons/Mentak.png" alt="" /></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-mentak-coalition/">The Mentak Coalition</a></td>
      </tr>
      <tr>
        <td>WL</td>
        <td style="text-align: center"><img src="/images/faction-icons/Yin.png" alt="" /></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-yin-brotherhood/">The Yin Brotherhood</a></td>
      </tr>
    </tbody>
  </table>
