<table class="league-table">
    <thead>
      <tr>
        <th>Contenders</th>
        <th style="text-align: center">Icon</th>
        <th style="text-align: center">Faction</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ACW</td>
        <td style="text-align: center"><img src="/images/faction-icons/Barony.png" alt="" style="height: 50px;"/></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-barony-of-letnev/">The Barony of Letnev</a></td>
      </tr>
      <tr>
        <td>AWr</td>
        <td style="text-align: center"><img src="/images/faction-icons/Nomad.png" alt="" style="height: 50px;"/></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-nomad/">The Nomad</a></td>
      </tr>
      <tr>
        <td>AW</td>
        <td style="text-align: center"><img src="/images/faction-icons/Mentak.png" alt="" style="height: 50px;"/></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-mentak-coalition/">The Mentak Coalition</a></td>
      </tr>
      <tr>
        <td>JO</td>
        <td style="text-align: center"><img src="/images/faction-icons/Naalu.png" alt="" style="height: 50px;"/></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-naalu-collective/">The Naalu Collective</a></td>
      </tr>
      <tr>
        <td>RC</td>
        <td style="text-align: center"><img src="/images/faction-icons/Saar.png" alt="" style="height: 50px;"/></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-clan-of-saar/">The Clan of Saar</a></td>
      </tr>
      <tr>
        <td>TP</td>
        <td style="text-align: center"><img src="/images/faction-icons/Argent.png" alt="" style="height: 50px;"/></td>
        <td style="text-align: center"><a href="{{ site.url }}/Argent/">The Argent Flight</a></td>
      </tr>
      <tr>
        <td>WB</td>
        <td style="text-align: center"><img src="/images/faction-icons/Sol.png" alt="" style="height: 50px;"/></td>
        <td style="text-align: center"><a href="{{ site.url }}/the-federation-of-sol/">The Federation of Sol</a></td>
      </tr>
    </tbody>
  </table>
