<table class="league-table">
    <thead>
      <tr>
        <th style="text-align: left">Icon</th>
        <th style="text-align: center">Faction</th>
        <th style="text-align: center">Played</th>
        <th style="text-align: center">Wins</th>
        <th style="text-align: center">Last Played by</th>
        <th>Won with</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Mahact.png" /></td>
        <td style="text-align: center">The Mahact Gene-Sorcerors</td>
        <td style="text-align: center">2</td>
        <td style="text-align: center">2</td>
        <td style="text-align: center">ACW</td>
        <td>ACW</td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Saar.png" /></td>
        <td style="text-align: center">The Clan of Saar</td>
        <td style="text-align: center">4</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">AW</td>
        <td>AW</td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Mentak.png" /></td>
        <td style="text-align: center">The Mentak Coalition</td>
        <td style="text-align: center">4</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">WB</td>
        <td>ACW</td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Yin.png" /></td>
        <td style="text-align: center">The Yin Brotherhood</td>
        <td style="text-align: center">3</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">WL</td>
        <td>AW</td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Nomad.png" /></td>
        <td style="text-align: center">The Nomad</td>
        <td style="text-align: center">3</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">JM</td>
        <td>TP</td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Nekro.png" /></td>
        <td style="text-align: center">The Nekro Virus</td>
        <td style="text-align: center">2</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">ACW</td>
        <td>N'AW</td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/naaz-rokha.png" /></td>
        <td style="text-align: center">The Naaz-Rokha Alliance</td>
        <td style="text-align: center">2</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">RC</td>
        <td>ACW</td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Sol.png" /></td>
        <td style="text-align: center">The Federation of Sol</td>
        <td style="text-align: center">4</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">ACW</td>
        <td> </td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/L1Z1X.png" /></td>
        <td style="text-align: center">The L1Z1X Mindnet</td>
        <td style="text-align: center">3</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">TP</td>
        <td> </td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Muaat.png" /></td>
        <td style="text-align: center">The Embers of Muaat</td>
        <td style="text-align: center">3</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">JO</td>
        <td> </td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Cabal.png" /></td>
        <td style="text-align: center">The Vuil’Raith Cabal</td>
        <td style="text-align: center">2</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">JO</td>
        <td> </td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Xxcha.png" /></td>
        <td style="text-align: center">The Xxcha Kingdom</td>
        <td style="text-align: center">2</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">JM</td>
        <td> </td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/titans.png" /></td>
        <td style="text-align: center">The Titans of Ul</td>
        <td style="text-align: center">2</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">TPS</td>
        <td> </td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Yssaril.png" /></td>
        <td style="text-align: center">The Yssaril Tribes</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">JM</td>
        <td> </td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Jol-Nar.png" /></td>
        <td style="text-align: center">The Universities of Jol-Nar</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">TP</td>
        <td> </td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Barony.png" /></td>
        <td style="text-align: center">The Barony of Letnev</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">RC</td>
        <td> </td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Hacan.png" /></td>
        <td style="text-align: center">The Emirates of Hacan</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">N'AW</td>
        <td> </td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Winnu.png" /></td>
        <td style="text-align: center">The Winnu</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">RC</td>
        <td> </td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Ghosts.png" /></td>
        <td style="text-align: center">The Ghosts of Creuss</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">AW</td>
        <td> </td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Arborec.png" /></td>
        <td style="text-align: center">The Arborec</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">AW</td>
        <td> </td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Argent.png" /></td>
        <td style="text-align: center">The Argent Flight</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">ACW</td>
        <td> </td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Empyrean.png" /></td>
        <td style="text-align: center">The Empyrean</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">TP</td>
        <td> </td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Sardakk.png" /></td>
        <td style="text-align: center">Sardakk N’orr</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">WB</td>
        <td> </td>
      </tr>
      <tr>
        <td style="text-align: left"><img src="/images/faction-icons/Naalu.png" /></td>
        <td style="text-align: center">The Naalu Collective</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center"> </td>
        <td> </td>
      </tr>
    </tbody>
  </table>