
<div class="league-table" tabindex="0">
    <table>

       
            <tr>
                <th>VPs Needed</th>
                <th>League Points</th>
            </tr>
       
   
            <tr>
                <td>10 VPs (or Win)</td>
                <td>3</td>
            </tr>
            <tr>
                <td>9 VPs (or Win-1)</td>
                <td>2</td>
            </tr>
            <tr>
                <td>VPs (or Win-2)</td>
                <td>1</td>
            </tr>
      
    </table>
    </div>