<div class="league-table" role="region" tabindex="0">
    <table>
        <thead>
            <tr>
                <th>Player</th>
                <th>Points</th>
                <th>Games Played</th>
                <th>Wins</th>
                <th>Faction Last Played</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ACW</td>
                <td>4</td>
                <td>2</td>
                <td>1</td>
                <td>The Mahact Gene-Sorcerers</td>
            </tr>
            <tr>
                <td>AW</td>
                <td>3</td>
                <td>1</td>
                <td>1</td>
                <td>The Clan of Saar</td>
            </tr>
            <tr>
                <td>JM</td>
                <td>0</td>
                <td>2</td>
                <td>0</td>
                <td>The Nomad</td>
            </tr>
            <tr>
                <td>RC</td>
                <td>0</td>
                <td>2</td>
                <td>0</td>
                <td>The Naaz-Rokha Alliance</td>
            </tr>
            <tr>
                <td>TP</td>
                <td>0</td>
                <td>2</td>
                <td>0</td>
                <td>The Titans of Ul</td>
            </tr>
            <tr>
                <td>JO</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>The Embers of Muaat</td>
            </tr>
            <tr>
                <td>WB</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>The Mentak Coalition</td>
            </tr>
            <tr>
                <td>WL</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
                <td>The Yin Brotherhood</td>
            </tr>
        </tbody>
    </table>
  
    </div>
