<table class="faction-mech">
    <tr class="faction-mech">
       <th colspan="2" style="text-align:center;">Letani Behemoth</th>
    </tr>
    <tr>
       <td colspan="2" class="faction-mech">
         DEPLOY: When you would use your MITOSIS faction ability you may replace 1 of your infantry with 1 mech from your reinforcements instead.
          <p class="faction-mech"><b>Sustain Damage </b></p>
          <p class="faction-mech"><b>Production 2 </b></p>
          <p class="faction-mech"><b>Planetary Shield </b></p>
       </td>
    </tr>
    <tr>
       <td class="faction-mech"><b>2</b>
       </td>
       <td class="faction-mech"><b>6</b>
       </td>
    </tr>
    <tr>
       <td class="faction-mech">Cost
       </td>
       <td class="faction-mech">Combat
       </td>
    </tr>
 </table>

<!-- this is file that we can potentially reference again to generate more complicated layouts. Put the html file in the _includes dir and then call it in the post. -->