<table class="faction-leaders">
    <tbody>
       <tr>
          <th>
          </th>

          <th>Name
          </th>
          <th>Unlock Criteria
          </th>
          <th>Ability
          </th>
       </tr>
       <tr>
          <td><b>Agent</b>
          </td>
          <td>Letani Ospha
          </td>
          <td>At Game Start
          </td>
          <td>
            ACTION: Exhaust this card and choose a player's non-fighter ship;
             <p>that player may replace that ship with one from their reinforcements that costs up to 2 more than the replaced ship.
             </p>
          </td>
       </tr>
       <tr>
          <td><b>Commander</b>
          </td>
          <td>Il Na Viroset
          </td>
          <td>Have 12 Ground Forces on Planets you control.
          </td>
          <td>After another player activates a system that contains 1 or more of your units that have PRODUCTION: <br> You may produce 1 unit in that system.</td> 
          </td>
       </tr>
       <tr>
          <td><b>Hero</b>
          </td>
          <td>Letani Miasmiala
          </td>
          <td>Have 3 Scored Objectives
          </td>
          <td>
             <b>ULTRASONIC EMITTER</b>
             <p><br>
               ACTION: Produce any number of units in any number of systems that contain 1 or more of your ground forces. Then, purge this card.
             </p>
          </td>
       </tr>
    </tbody>
 </table>