<table class="faction-leaders">
    <tbody>
       <tr>
          <th>
          </th>

          <th>Name
          </th>
          <th>Unlock Criteria
          </th>
          <th>Ability
          </th>
       </tr>
       <tr>
          <td><b>Agent</b>
          </td>
          <td>Suffi An
          </td>
          <td>At Game Start
          </td>
          <td>
            After the PILLAGE faction ability is used against another player:
             <p>You may exhaust this card; if you do, you and that player each draw 1 action card.
             </p>
          </td>
       </tr>
       <tr>
          <td><b>Commander</b>
          </td>
          <td>S'Ula Mentarion
          </td>
          <td>Have 4 cruisers on the game board
          </td>
          <td>After you win a space combat: <br>
            You may force your opponent to give you 1 promissory note from their hand.
          </td>
       </tr>
       <tr>
          <td><b>Hero</b>
          </td>
          <td>Ipswitch, Loose Cannon
          </td>
          <td>Have 3 Scored Objectives
          </td>
          <td>
             <b>SLEEPER CELL</b>
             <p><br>
               At the start of space combat that you are participating in:
<br><br>
You may purge this card; 
<br><br>
if you do, for each other player's ship that is destroyed during this combat, place 1 ship of that type from your reinforcements in the active system.
             </p>
          </td>
       </tr>
    </tbody>
 </table>