<table class="faction-leaders">
    <tbody>
       <tr>
          <th>
          </th>

          <th>Name
          </th>
          <th>Unlock Criteria
          </th>
          <th>Ability
          </th>
       </tr>
       <tr>
          <td><b>Agent</b>
          </td>
          <td>Brother Milor
          </td>
          <td>At Game Start
          </td>
          <td>
            After a player's destroyer or cruiser is destroyed:<br>
            You may exhaust this card; if you do, that player may place up to 2 fighters from their reinforcements in that unit's system.
          </td>
       </tr>
       <tr>
          <td><b>Commander</b>
          </td>
          <td>Brother Omar
          </td>
          <td>Use your INDOCTRINATION faction ability
          </td>
          <td>This card satisfies a green technology prerequisite.<br>
            You may produce 1 additional infantry for their cost. These infantry do not count against your production limit.
          </td>
       </tr>
       <tr>
          <td><b>Hero</b>
          </td>
          <td>Dannel of the Tenth
          </td>
          <td>Have 3 Scored Objectives
          </td>
          <td>
             <b>SPINNER OVERDRIVE</b>
             <p><br>
               ACTION: For each planet that contains any number of your infantry, either ready that planet or place an equal number of infantry from your reinforcements on that planet. Then, purge this card.
             </p>
          </td>
       </tr>
    </tbody>
 </table>