<a href="#" class="popup-trigger" data-popup="skill-checks">Skill Checks</a>
<a href="#" class="popup-trigger" data-popup="saving-throws">Saving Throws</a>
<a href="#" class="popup-trigger" data-popup="combat">Combat</a>
<a href="#" class="popup-trigger" data-popup="death">Death</a>
<a href="#" class="popup-trigger" data-popup="leveling-up">Leveling Up and XP</a>
<a href="#" class="popup-trigger" data-popup="ship-travel">Ship Travel</a>
<a href="#" class="popup-trigger" data-popup="skill-list">Skill List</a>
<a href="#" class="popup-trigger" data-popup="psychics">Psychics</a>
