<table>
<tr>
    <th>Abilities</th>
    <th>Units</th>
    <th>Agents</th>
</tr>
<tr>
    <td>  EDICT - When you win a combat, place 1 command token from your opponent’s reinforcements in your fleet pool if it does not already contain 1 of that player’s tokens; other player’s tokens in your fleet pool increase your fleet limit but cannot be redistributed.<br>

        IMPERIA - While another player’s command token is in your fleet pool, you can use the ability of that player’s commander, if it is unlocked.<br>
        
        HUBRIS - During setup, purge your “Alliance” promissory note. Other players cannot give you their “Alliance” promissory note.  </td>
</tr>


</table>

<!-- this is file that we can potentially reference again to generate more complicated layouts. Put the html file in the _includes dir and then call it in the post. -->