<table class="faction-leaders">
    <tbody>
       <tr>
          <th>
          </th>

          <th>Name
          </th>
          <th>Unlock Criteria
          </th>
          <th>Ability
          </th>
       </tr>
       <tr>
          <td><b>Agent</b>
          </td>
          <td>Jae Mir Kan
          </td>
          <td>At Game Start
          </td>
          <td>
             When you would spend a <b>command token</b> during the secondary ability of a <b>strategic action</b>:
             <p>You may exhaust this card to remove 1 of the active player's command tokens from the board and use it instead.
             </p>
          </td>
       </tr>
       <tr>
          <td><b>Commander</b>
          </td>
          <td>Il Na Viroset
          </td>
          <td>Have 2 other factions' command tokens in your fleet pool.
          </td>
          <td>During your <b>tactical actions</b>, you can activate systems that contain your <b>command tokens</b>. If you do, return both command tokens to your reinforcements and end your turn.
          </td>
       </tr>
       <tr>
          <td><b>Hero</b>
          </td>
          <td>Airo Shir Aur
          </td>
          <td>Have 3 Scored Objectives
          </td>
          <td>
             <b>BENEDICTION</b>
             <p><br>
                ACTION: Move all units in the <b>space area</b> of any system to an adjacent system that contains a different player's ships. Space Combat is resolved in that system; neither player can retreat or resolve abilities that would move their ships.
                Then, purge this card.
             </p>
          </td>
       </tr>
    </tbody>
 </table>