<table class="faction-flagship">
    <tr class="faction-flagship-text">
       <th colspan="4" style="text-align:center;">Starlancer</th>
    </tr>
    <tr>
       <td colspan="4" class="faction-flagship-text">
          After a player whose command token is in your fleet pool activates this system, you may spend their token from your fleet pool to end their turn; they gain that token.
          <p class="faction-flagship-text"><b>Sustain Damage </b></p>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship-text"><b>2</b>
       </td>
       <td class="faction-flagship-text"><b>6</b>
       </td>
       <td class="faction-flagship-text"><b>1</b>
       </td>
       <td class="faction-flagship-text"><b>3</b>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship-text">Cost
       </td>
       <td class="faction-flagship-text">Combat
       </td>
       <td class="faction-flagship-text">Move
        </td>
        <td class="faction-flagship-text">Capacity
        </td>
    </tr>
 </table>