<table class="faction-flagship">
    <tr class="faction-flagship-text">
       <th colspan="4" style="text-align:center;">Arvicon Rex</th>
    </tr>
    <tr>
       <td colspan="4" class="faction-flagship-text">
        During combat against an opponent whose command token is not in your fleet pool, apply +2 to the results of this unit's combat rolls.
        <p class="faction-flagship-text"><b>Sustain Damage </b></p>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship-text"><b>8</b>
       </td>
       <td class="faction-flagship-text"><b>5(x2)</b>
       </td>
       <td class="faction-flagship-text"><b>1</b>
       </td>
       <td class="faction-flagship-text"><b>3</b>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship-text">Cost
       </td>
       <td class="faction-flagship-text">Combat
       </td>
       <td class="faction-flagship-text">Move
        </td>
        <td class="faction-flagship-text">Capacity
        </td>
    </tr>
 </table>