<table class="faction-leaders">
    <tbody>
       <tr>
          <th>
          </th>

          <th>Name
          </th>
          <th>Unlock Criteria
          </th>
          <th>Ability
          </th>
       </tr>
       <tr>
          <td><b>Agent</b>
          </td>
          <td>The Stillness of Stars
          </td>
          <td>At Game Start
          </td>
          <td>
            After another player replenishes commodities:
             <p>You may exhaust this card to convert their commodities to trade goods and capture 1 unit from their reinforcements that has a cost equal to or lower than their commodity value.
             </p>
          </td>
       </tr>
       <tr>
          <td><b>Commander</b>
          </td>
          <td>That Which Molds Flesh
          </td>
          <td>Have units in 3 Gravity Rifts
          </td>
          <td>When you produce fighter or infantry units:  <br> Up to 2 of those units do not count against your PRODUCTION limit.</td> 

       </tr>
       <tr>
          <td><b>Hero</b>
          </td>
          <td>It Feeds on Carrion
          </td>
          <td>Have 3 Scored Objectives
          </td>
          <td>
             <b>DIMENSIONAL ANCHOR</b>
             <p><br>
               ACTION: Each other player rolls a die for each of their non-fighter ships that are in or adjacent to a system that contains a dimensional tear; <br> <br>
               on a 1-3, capture that unit. If this causes a player's ground forces or fighters to be removed, also capture those units. Then, purge this card.
             </p>
          </td>
       </tr>
    </tbody>
 </table>