<table class="faction-flagship">
    <tr class="faction-flagship">
       <th colspan="4" style="text-align:center;">The Terror Between</th>
    </tr>
    <tr>
       <td colspan="4" class="faction-flagship">
        <p class="faction-flagship">Capture all other non-structure units that are destroyed in this system, including your own.</p>
        <p class="faction-flagship"><b>Sustain Damage </b></p>
        <p class="faction-flagship"><b>Bombardment 5 </b></p>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship"><b>8</b>
       </td>
       <td class="faction-flagship"><b>5(x2)</b>
       </td>
       <td class="faction-flagship"><b>1</b>
       </td>
       <td class="faction-flagship"><b>3</b>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship">Cost
       </td>
       <td class="faction-flagship">Combat
       </td>
       <td class="faction-flagship">Move
        </td>
        <td class="faction-flagship">Capacity
        </td>
    </tr>
 </table>