<table class="faction-unit">
    <tr class="faction-unit-text">
       <th colspan="2" style="text-align:center;">Dimensional Tear I</th>
    </tr>
    <tr>
       <td colspan="2" class="faction-unit-text">
         <p>This system is a gravity rift; your ships do not roll for this gravity rift. <br><br>

            Place a dimensional tear token beneath this unit as a reminder. <br><br>
            
            Up to 6 fighters in this system do not count against your ships' capacity.</p>
       </td>
    </tr>
    <tr>
       <td class="faction-unit-text"><b>5</b></td>
       <td class="faction-unit-text"><b>None</b></td>
    </tr>
    <tr>
       <td class="faction-unit-text">Production</td>
       <td class="faction-unit-text">Prerequisites</td>
    </tr>

<!-- Upgraded -->

<tr class="faction-unit-text">
   <th colspan="2" style="text-align:center;">Dimensional Tear II</th>
</tr>
<tr>
   <td colspan="2" class="faction-unit-text">
     <p>This system is a gravity rift; your ships do not roll for this gravity rift. <br><br>

      Place a dimensional tear token beneath this unit as a reminder <br><br>
        
      Up to 12 fighters in this system do not count against your ships' capacity.</p>
   </td>
</tr>
<tr>
   <td class="faction-unit-text"><b>5</b></td>
   <td class="faction-unit-text"><b><img src="/images/tech-icon/cybernetic.png"> <img src="/images/tech-icon/cybernetic.png"></b></td>
</tr>
<tr>
   <td class="faction-unit-text">Production</td>
   <td class="faction-unit-text">Prerequisites</td>
</tr>
 </table>