<table class="faction-mech">
    <tr class="faction-mech">
       <th colspan="2" style="text-align:center;">Reanimator</th>
    </tr>
    <tr>
       <td colspan="2" class="faction-mech">
         When your infantry on this planet are destroyed, place them on your faction sheet; those units are captured.
          <p class="faction-mech"><b>Sustain Damage </b></p>
       </td>
    </tr>
    <tr>
       <td class="faction-mech"><b>2</b>
       </td>
       <td class="faction-mech"><b>6</b>
       </td>
    </tr>
    <tr>
       <td class="faction-mech">Cost
       </td>
       <td class="faction-mech">Combat
       </td>
    </tr>
 </table>

<!-- this is file that we can potentially reference again to generate more complicated layouts. Put the html file in the _includes dir and then call it in the post. -->