<table class="faction-flagship">
    <tr class="faction-flagship">
       <th colspan="4" style="text-align:center;">[0.0.1]</th>
    </tr>
    <tr>
       <td colspan="4" class="faction-flagship">
         During a space combat, hits produced by this ship and by your dreadnoughts in this system must be assigned to non-fighter ships if able.
        <p class="faction-flagship"><b>Sustain Damage </b></p>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship"><b>8</b>
       </td>
       <td class="faction-flagship"><b>5(x2)</b>
       </td>
       <td class="faction-flagship"><b>1</b>
       </td>
       <td class="faction-flagship"><b>5</b>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship">Cost
       </td>
       <td class="faction-flagship">Combat
       </td>
       <td class="faction-flagship">Move
        </td>
        <td class="faction-flagship">Capacity
        </td>
    </tr>
 </table>