<table class="faction-unit">
    <tr class="faction-unit-text">
       <th colspan="5" style="text-align:center;">Super-Dreadnought I</th>
    </tr>
    <tr>
       <td colspan="5" class="faction-unit-text">
        <p><b>Sustain Damage</b></p>
        <p><b>Bombardment 5</b></p>
       </td>
    </tr>
    <tr>
      <td class="faction-unit-text"><b>4</b>
      </td>
      <td class="faction-unit-text"><b>5</b>
      </td>
      <td class="faction-unit-text"><b>1</b>
      </td>
      <td class="faction-unit-text"><b>2</b>
      </td>
      <td class="faction-unit-text"><b>None</b>
      </td>
   </tr>
   <tr>
      <td class="faction-unit-text">Cost
      </td>
      <td class="faction-unit-text">Combat
      </td>
      <td class="faction-unit-text">Move
       </td>
       <td class="faction-unit-text">Capacity
       </td>
    
      <td class="faction-unit-text">Prerequisites
   </td>
   </tr>

<!-- Upgraded -->

<tr class="faction-unit-text">
   <th colspan="5" style="text-align:center;">Super-Dreadnought II <b>Upgrade</b></th>
</tr>
<tr>
   <td colspan="5" class="faction-unit-text">
      This unit cannot be destroyed by "Direct Hit" action cards.
      <p><b>Sustain Damage</b></p>
      <p><b>Bombardment 5</b></p>
   </td>
</tr>
<tr>
  <td class="faction-unit-text"><b>4</b>
  </td>
  <td class="faction-unit-text"><b>4</b>
  </td>
  <td class="faction-unit-text"><b>2</b>
  </td>
  <td class="faction-unit-text"><b>2</b>
  </td>
  <td class="faction-unit-text"><b><img src="/images/tech-icon/propulsion.png"><img src="/images/tech-icon/propulsion.png"><img src="/images/tech-icon/cybernetic.png"></b>
  </td>
</tr>
<tr>
  <td class="faction-unit-text">Cost
  </td>
  <td class="faction-unit-text">Combat
  </td>
  <td class="faction-unit-text">Move
   </td>
   <td class="faction-unit-text">Capacity
   </td>
  <td class="faction-unit-text">Prerequisites
</td>
</tr>
 </table>