<table class="faction-leaders">
    <tbody>
       <tr>
          <th>
          </th>

          <th>Name
          </th>
          <th>Unlock Criteria
          </th>
          <th>Ability
          </th>
       </tr>
       <tr>
          <td><b>Agent</b>
          </td>
          <td>I48S
          </td>
          <td>At Game Start
          </td>
          <td>
            After a player activates a system:
             <p>You may exhaust this card to allow that player to replace 1 of their infantry in the active system with 1 mech from their reinforcements.
             </p>
          </td>
       </tr>
       <tr>
          <td><b>Commander</b>
          </td>
          <td>2RAM
          </td>
          <td>Have 4 dreadnoughts on the Board
          </td>
          <td>Units that have PLANETARY SHIELD do not prevent you from using Bombardment.
          </td>
       </tr>
       <tr>
          <td><b>Hero</b>
          </td>
          <td>The Helmsman
          </td>
          <td>Have 3 Scored Objectives
          </td>
          <td>
             <b>DARK SPACE NAVIGATION</b>
             <p><br>
               ACTION: Choose 1 system that does not contain other players' ships; you may move your flagship and any number of your dreadnoughts from other systems into the chosen system.
<br><br>
               Then, purge this card.
             </p>
          </td>
       </tr>
    </tbody>
 </table>