<table class="faction-flagship">
    <tr class="faction-flagship-text">
       <th colspan="4" style="text-align:center;">Ouranos</th>
    </tr>
    <tr>
       <td colspan="4" class="faction-flagship-text">
         DEPLOY: After you activate a system that contains 1 or more of your PDS, you may replace 1 of those PDS with this unit.
        <p class="faction-flagship-text"><b>Sustain Damage </b></p>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship-text"><b>8</b>
       </td>
       <td class="faction-flagship-text"><b>7(x2)</b>
       </td>
       <td class="faction-flagship-text"><b>1</b>
       </td>
       <td class="faction-flagship-text"><b>3</b>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship-text">Cost
       </td>
       <td class="faction-flagship-text">Combat
       </td>
       <td class="faction-flagship-text">Move
        </td>
        <td class="faction-flagship-text">Capacity
        </td>
    </tr>
 </table>