<table class="faction-leaders">
    <tbody>
       <tr>
          <th>
          </th>

          <th>Name
          </th>
          <th>Unlock Criteria
          </th>
          <th>Ability
          </th>
       </tr>
       <tr>
          <td><b>Agent</b>
          </td>
          <td>Tellurian
          </td>
          <td>At Game Start
          </td>
          <td>
            When a hit is produced against a unit: <br>
            You may exhaust this card to cancel that hit.
            
          </td>
       </tr>
       <tr>
          <td><b>Commander</b>
          </td>
          <td>Tungstantus
          </td>
          <td>Have 5 structures on the game board
          </td>
          <td>When 1 or more of your units use PRODUCTION:<br>
            You may gain 1 trade good.
          </td>
       </tr>
       <tr>
          <td><b>Hero</b>
          </td>
          <td>Ul The Progenitor
          </td>
          <td>Have 3 Scored Objectives
          </td>
          <td>
             <b>GEOFORM</b>
             <p><br>
               ACTION: Ready Elysium and attach this card to it. Its resource and influence values are each increased by 3, and it gains the SPACE CANNON 5 (x3) ability as if it were a unit.
             </p>
          </td>
       </tr>
    </tbody>
 </table>