<table class="faction-unit">
    <tr class="faction-unit-text">
       <th colspan="3" style="text-align:center;">Floating Factory I</th>
    </tr>
    <tr>
       <td colspan="3" class="faction-unit-text">
         <p>This unit is placed in a space area instead of on a planet.  This unit can move and retreat as if it were a ship.  If this unit is blockaded, it is destroyed.</p>
         <p><b>Production 5</b></p>
       </td>
    </tr>
    <tr>
       <td class="faction-unit-text"><b>1</b></td>
       <td class="faction-unit-text"><b>4</b></td>
       <td class="faction-unit-text"><b>None</b></td>
    </tr>
    <tr>
       <td class="faction-unit-text">Move</td>
       <td class="faction-unit-text">Capacity</td>
       <td class="faction-unit-text">Prerequisites</td>
    </tr>

<!-- Upgraded -->

<tr class="faction-unit-text">
   <th colspan="3" style="text-align:center;">Floating Factory II</th>
</tr>
<tr>
   <td colspan="3" class="faction-unit-text">
     <p>This unit is placed in a space area instead of on a planet.  This unit can move and retreat as if it were a ship.  If this unit is blockaded, it is destroyed.</p>
     <p><b>Production 7</b></p>
   </td>
</tr>
<tr>
   <td class="faction-unit-text"><b>2</b></td>
   <td class="faction-unit-text"><b>5</b></td>
   <td class="faction-unit-text"><img src="/images/tech-icon/cybernetic.png"></td>
</tr>
<tr>
   <td class="faction-unit-text">Move</td>
   <td class="faction-unit-text">Capacity</td>
   <td class="faction-unit-text">Prerequisites</td>
</tr>
 </table>