<table class="faction-leaders">
    <tbody>
       <tr>
          <th>
          </th>

          <th>Name
          </th>
          <th>Unlock Criteria
          </th>
          <th>Ability
          </th>
       </tr>
       <tr>
          <td><b>Agent</b>
          </td>
          <td>Umbat
          </td>
          <td>At Game Start
          </td>
          <td>
            ACTION: Exhaust this card to choose a player;
             <p>that player may produce up to 2 units that each have a cost of 4 or less in a system that contains one of their war suns or their flagship.
             </p>
          </td>
       </tr>
       <tr>
          <td><b>Commander</b>
          </td>
          <td>Magmus
          </td>
          <td>Produce a War Sun
          </td>
          <td>After you spend a token from your strategy pool:  <br> You may gain 1 trade good.</td> 

       </tr>
       <tr>
          <td><b>Hero</b>
          </td>
          <td>Adjudicator Ba'al
          </td>
          <td>Have 3 Scored Objectives
          </td>
          <td>
             <b>NOVA SEED</b>
             <p><br>
               After you move a war sun into a non-home system other than Mecatol Rex: <br> <br>
               You may destroy all other players' units in that system and replace that system tile with the Muaat supernova tile. If you do, purge this card and each planet card that corresponds to the replaced system tile.
             </p>
          </td>
       </tr>
    </tbody>
 </table>