<table class="article-table">
    <tbody>
       <tr><th></th><th>Name</th><th>Unlock Criteria</th><th>Ability</th></tr>
       <!-- AGENT -->
       <tr>
          <td><b>Agent</b></td>
          <td>Artuno the Betrayer</td>
          <td>At Game Start</td>
          <td>When you gain trade goods from the supply: <br>You may exhaust this card to place an equal number of trade goods on this card. When this card readies, gain the trade goods on this card.
             </td></tr>

             <tr>
               <td><b>Agent</b></td>
               <td>Field Marshal Mercer</td>
               <td>At Game Start</td>
               <td>At the end of a player's turn: <br>You may exhaust this card to allow that player to remove up to 2 of their ground forces from the game board and place them on planets they control in the active system.
                  </td></tr>

                  <tr>
                     <td><b>Agent</b></td>
                     <td>The Thundarian</td>
                     <td>At Game Start</td>
                     <td>After the "Roll Dice" step of combat:<br>
                        You may exhaust this card. If you do, hits are not assigned to either players' units. Return to the start of this combat round's "Roll Dice" step
                        </td></tr>
       <!-- COMMANDER -->
       <tr>
          <td><b>Commander</b></td>
          <td>Navarch Feng</td>
          <td>Have 1 scored secret objective</td>
          <td>You can produce your flagship without spending resources.</td></tr>
       <!-- HERO -->
       <tr><td><b>Hero</b></td>
          <td>Ahk-Syl Siven</td>
          <td>Have 3 Scored Objectives</td>
          <td><b>PROBABILITY MATRIX</b>
            <p><br>ACTION: Place this card near the game board; your flagship and units it transports can move out of systems that contain your command tokens during this game round. At the end of that game round, purge this card.</p></td></tr>
    </tbody>
 </table>