<table class="faction-mech">
    <tr class="faction-mech">
       <th colspan="2" style="text-align:center;">Quantum Manipulator</th>
    </tr>
    <tr>
       <td colspan="2" class="faction-mech">
         While this unit is in a space area during combat, you may use its SUSTAIN DAMAGE ability to cancel a hit that is produced against your ships in this system.
          <p class="faction-mech"><b>Sustain Damage </b></p>
       </td>
    </tr>
    <tr>
       <td class="faction-mech"><b>2</b>
       </td>
       <td class="faction-mech"><b>6</b>
       </td>
    </tr>
    <tr>
       <td class="faction-mech">Cost
       </td>
       <td class="faction-mech">Combat
       </td>
    </tr>
 </table>

<!-- this is file that we can potentially reference again to generate more complicated layouts. Put the html file in the _includes dir and then call it in the post. -->