<table class="faction-flagship">
    <tr class="faction-flagship-text">
       <th colspan="5" style="text-align:center;">Memoria</th>
    </tr>
    <tr>
       <td colspan="5" class="faction-flagship-text">
         You may treat this unit as if it were adjacent to systems that contain one or more of your mechs.
          <p class="faction-flagship-text"><b>Sustain Damage </b></p>
          <p class="faction-flagship-text"><b>Anti-Fighter Barrage 8(x3) </b></p>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship-text"><b>8</b>
       </td>
       <td class="faction-flagship-text"><b>7(x3)</b>
       </td>
       <td class="faction-flagship-text"><b>1</b>
       </td>
       <td class="faction-flagship-text"><b>3</b>
       </td>
       <td class="faction-flagship-text"><b>None</b>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship-text">Cost
       </td>
       <td class="faction-flagship-text">Combat
       </td>
       <td class="faction-flagship-text">Move
        </td>
        <td class="faction-flagship-text">Capacity
        </td>
        <td class="faction-flagship-text">Prerequisites
      </td>
    </tr>
<!-- Upgrade -->
    <tr class="faction-flagship-text">
      <th colspan="5" style="text-align:center;">Memoria II <b>Upgrade</b></th>
   </tr>
   <tr>
      <td colspan="5" class="faction-flagship-text">
        You may treat this unit as if it were adjacent to systems that contain one or more of your mechs.
         <p class="faction-flagship-text"><b>Sustain Damage </b></p>
         <p class="faction-flagship-text"><b>Anti-Fighter Barrage 5(x3) </b></p>
      </td>
   </tr>
   <tr>
      <td class="faction-flagship-text"><b>8</b>
      </td>
      <td class="faction-flagship-text"><b>7(x3)</b>
      </td>
      <td class="faction-flagship-text"><b>1</b>
      </td>
      <td class="faction-flagship-text"><b>3</b>
      </td>
      <td class="faction-flagship-text"><img src="/images/tech-icon/tech_biotic.png"> <img src="/images/tech-icon/propulsion.png"> <img src="/images/tech-icon/cybernetic.png">
      </td>
   </tr>
   <tr>
      <td class="faction-flagship-text">Cost
      </td>
      <td class="faction-flagship-text">Combat
      </td>
      <td class="faction-flagship-text">Move
       </td>
       <td class="faction-flagship-text">Capacity
       </td>
       <td class="faction-flagship-text">Prerequisites
      </td>
   </tr>
 </table>