<table class="faction-flagship">
    <tr class="faction-flagship">
       <th colspan="4" style="text-align:center;">Arc Secundus</th>
    </tr>
    <tr>
       <td colspan="4" class="faction-flagship">
         Other players' units in this system lose PLANETARY SHIELD. <br> <br> At the start of each space combat round, repair this ship.
        <p class="faction-flagship"><b>Sustain Damage </b></p>
        <p class="faction-flagship"><b>Bombardment 5 (x3) </b></p>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship"><b>8</b>
       </td>
       <td class="faction-flagship"><b>5(x2)</b>
       </td>
       <td class="faction-flagship"><b>1</b>
       </td>
       <td class="faction-flagship"><b>3</b>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship">Cost
       </td>
       <td class="faction-flagship">Combat
       </td>
       <td class="faction-flagship">Move
        </td>
        <td class="faction-flagship">Capacity
        </td>
    </tr>
 </table>