<table class="faction-flagship">
    <tr class="faction-flagship">
       <th colspan="4" style="text-align:center;">Wrath of Kenara</th>
    </tr>
    <tr>
       <td colspan="4" class="faction-flagship">
        <p class="faction-flagship">After you roll a die during a space combat in this system, you may spend 1 trade good to apply +1 to the result.</p>
        <p class="faction-flagship"><b>Sustain Damage </b></p>
        
       </td>
    </tr>
    <tr>
       <td class="faction-flagship"><b>8</b>
       </td>
       <td class="faction-flagship"><b>7(x2)</b>
       </td>
       <td class="faction-flagship"><b>1</b>
       </td>
       <td class="faction-flagship"><b>3</b>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship">Cost
       </td>
       <td class="faction-flagship">Combat
       </td>
       <td class="faction-flagship">Move
        </td>
        <td class="faction-flagship">Capacity
        </td>
    </tr>
 </table>