<table class="faction-leaders">
    <tbody>
       <tr>
          <th>
          </th>

          <th>Name
          </th>
          <th>Unlock Criteria
          </th>
          <th>Ability
          </th>
       </tr>
       <tr>
          <td><b>Agent</b>
          </td>
          <td>Carth of Golden Sands
          </td>
          <td>At Game Start
          </td>
          <td>
            During the action phase:
             <p>You may exhaust this card to gain 2 commodities or replenish another player's commodities.
             </p>
          </td>
       </tr>
       <tr>
          <td><b>Commander</b>
          </td>
          <td>Gila the Silvertongue
          </td>
          <td>Have 10 Trade Goods
          </td>
          <td>When you cast votes:  <br> You may spend any number of trade goods; cast 2 additional votes for each trade good spent.</td> 

       </tr>
       <tr>
          <td><b>Hero</b>
          </td>
          <td>Harrugh Gefhara
          </td>
          <td>Have 3 Scored Objectives
          </td>
          <td>
             <b>GALACTIC SECURITIES NET</b>
             <p><br>
               When 1 or more of your units use PRODUCTION: <br> <br>
               You may reduce the cost of each of your units to 0 during this use of PRODUCTION. If you do, purge this card.
             </p>
          </td>
       </tr>
    </tbody>
 </table>