<table class="faction-mech">
    <tr class="faction-mech">
       <th colspan="2" style="text-align:center;">Pride of Kenara</th>
    </tr>
    <tr>
       <td colspan="2" class="faction-mech">
         This planet's card may be traded as part of a transaction; if you do, move all of your units from this planet to another planet you control.
          <p class="faction-mech"><b>Sustain Damage </b></p>
       </td>
    </tr>
    <tr>
       <td class="faction-mech"><b>2</b>
       </td>
       <td class="faction-mech"><b>6</b>
       </td>
    </tr>
    <tr>
       <td class="faction-mech">Cost
       </td>
       <td class="faction-mech">Combat
       </td>
    </tr>
 </table>

<!-- this is file that we can potentially reference again to generate more complicated layouts. Put the html file in the _includes dir and then call it in the post. -->