<table class="faction-mech">
    <tr class="faction-mech">
       <th colspan="2" style="text-align:center;">Icarus Drive</th>
    </tr>
    <tr>
       <td colspan="2" class="faction-mech">
         After any player activates a system, you may remove this unit from the game board to place or move a Creuss wormhole token into this system.
         <br><br>
         Note: "this system" refers to the system that contains the mech, NOT the system that was activated.
          <p class="faction-mech"><b>Sustain Damage </b></p>
       </td>
    </tr>
    <tr>
       <td class="faction-mech"><b>2</b>
       </td>
       <td class="faction-mech"><b>6</b>
       </td>
    </tr>
    <tr>
       <td class="faction-mech">Cost
       </td>
       <td class="faction-mech">Combat
       </td>
    </tr>
 </table>

<!-- this is file that we can potentially reference again to generate more complicated layouts. Put the html file in the _includes dir and then call it in the post. -->