<table class="faction-flagship">
    <tr class="faction-flagship">
       <th colspan="4" style="text-align:center;">Hil Colish</th>
    </tr>
    <tr>
       <td colspan="4" class="faction-flagship">
         This ship's system contains a delta wormhole. During movement, this ship may move before or after your other ships.
        <p class="faction-flagship"><b>Sustain Damage </b></p>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship"><b>8</b>
       </td>
       <td class="faction-flagship"><b>5</b>
       </td>
       <td class="faction-flagship"><b>1</b>
       </td>
       <td class="faction-flagship"><b>3</b>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship">Cost
       </td>
       <td class="faction-flagship">Combat
       </td>
       <td class="faction-flagship">Move
        </td>
        <td class="faction-flagship">Capacity
        </td>
    </tr>
 </table>