<table class="faction-flagship">
    <tr class="faction-flagship">
       <th colspan="4" style="text-align:center;">J.N.S. Hylarim</th>
    </tr>
    <tr>
       <td colspan="4" class="faction-flagship">
        <p class="faction-flagship">When making a combat roll for this ship, each result of 9 or 10, before applying modifiers, produces 2 additional hits.</p>
        <p class="faction-flagship"><b>Sustain Damage </b></p>
        
       </td>
    </tr>
    <tr>
       <td class="faction-flagship"><b>8</b>
       </td>
       <td class="faction-flagship"><b>6(x2)</b>
       </td>
       <td class="faction-flagship"><b>1</b>
       </td>
       <td class="faction-flagship"><b>3</b>
       </td>
    </tr>
    <tr>
       <td class="faction-flagship">Cost
       </td>
       <td class="faction-flagship">Combat
       </td>
       <td class="faction-flagship">Move
        </td>
        <td class="faction-flagship">Capacity
        </td>
    </tr>
 </table>