---

---

<div class="character-details">
    <h2>{{ page.name }}</h2>
    <div>Max HP: {{ page.max_hp }}</div>
    <div>Class: {{ page.class }}</div>
    <div>Level: {{ page.level }}</div>
    <div>Experience: {{ page.experience }}</div>
    <div>Strength: {{ page.strength }}</div>
    <div>Constitution: {{ page.constitution }}</div>
    <div>Dexterity: {{ page.dexterity }}</div>
    <div>Intelligence: {{ page.intelligence }}</div>
    <div>Wisdom: {{ page.wisdom }}</div>
    <div>Charisma: {{ page.charisma }}</div>
</div>

<div>

    {{ page.content }}

</div>
