---

---

<div class="character-details">
    <h2>{{ page.name }}</h2>
    <div style="display: flex; gap: 15px;">
        <div style="display: inline-block;"><strong>Max HP:</strong> {{ page.max_hp }}</div>
        <div style="display: inline-block;"><strong>Class:</strong> {{ page.class }}</div>
        <div style="display: inline-block;"><strong>Level:</strong> {{ page.level }}</div>
        <div style="display: inline-block;"><strong>Experience:</strong> {{ page.experience }}</div>
    </div>
    <div style="display: flex; gap: 10px;">
        <div style="display: inline-block;">Background: {{ page.background }}</div>
        <div style="display: inline-block;">Homeworld: {{ page.homeworld }}</div>
        <div style="display: inline-block;">Origin: {{ page.origin }}</div>
        <div style="display: inline-block;">Languages: {{ page.languages }}</div>
    </div>
    

    <table class="character-attributes">
        <thead>
            <tr>
                <th style="border: 1px solid var(--star-blue); padding: 8px; text-align: center; color: var(--cosmic-teal);">Physical</th>
                <th style="border: 1px solid var(--star-blue); padding: 8px; text-align: center; color: var(--cosmic-teal)">Evasion</th>
                <th style="border: 1px solid var(--star-blue); padding: 8px; text-align: center; color: var(--cosmic-teal)">Mental</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid var(--star-blue); padding: 8px; text-align: center;">Strength: <strong>{{ page.strength }}</strong></td>
                <td style="border: 1px solid var(--star-blue); padding: 8px; text-align: center;">Dexterity: <strong>{{ page.dexterity }}</strong></td>
                <td style="border: 1px solid var(--star-blue); padding: 8px; text-align: center;">Charisma: <strong>{{ page.charisma }}</strong></td>
            </tr>
            <tr>
                <td style="border: 1px solid var(--star-blue); padding: 8px; text-align: center;">Constitution: <strong>{{ page.constitution }}</strong></td>
                <td style="border: 1px solid var(--star-blue); padding: 8px; text-align: center;">Intelligence: <strong>{{ page.intelligence }}</strong></td>
                <td style="border: 1px solid var(--star-blue); padding: 8px; text-align: center;">Wisdom: <strong>{{ page.wisdom }}</strong></td>
            </tr>
        </tbody>
    </table>
    
      
</div>

<div>

    {{ page.content }}

</div>

<div id="skills">
    <h2>SKILLS</h2>
<table class="character-skills" style="border-collapse: collapse; width: 100%;">
    <tbody class="character-skills-table">
        <tr>
            <td>Administer: {{ page.administer }}</td>
            <td>Connect: {{ page.connect }}</td>
            <td>Exert: {{ page.exert }}</td>
            <td>Fix: {{ page.fix }}</td>
            <td>Heal: {{ page.heal }}</td>
        </tr>
        <tr>
            <td>Know: {{ page.know }}</td>
            <td>Lead: {{ page.lead }}</td>
            <td>Notice: {{ page.notice }}</td>
            <td>Perform: {{ page.perform }}</td>
            <td>Pilot: {{ page.pilot }}</td>
        </tr>
        <tr>
            <td>Program: {{ page.program }}</td>
            <td>Punch: {{ page.punch }}</td>
            <td>Shoot: {{ page.shoot }}</td>
            <td>Sneak: {{ page.sneak }}</td>
            <td>Stab: {{ page.stab }}</td>
        </tr>
        <tr>
            <td>Survive: {{ page.survive }}</td>
            <td>Talk: {{ page.talk }}</td>
            <td>Trade: {{ page.trade }}</td>
            <td>Work: {{ page.work }}</td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>

<br>
<br>

<div>
    <a href="https://github.com/Hyperion-box/Hyperion-box.github.io/edit/main/{{ page.relative_path }}" target="_blank">Edit this character</a>
</div>

<pre id="instructions">
    <p>To make changes, you will need to:</p>
    <ol>
        <li>Create a GitHub account</li>
        <li>Edit the file</li>
        <li>"Commit" and "Propose" changes</li>
        <li>"Create pull request"</li>
        <li>This will then come to me to merge it and update the site</li>
    </ol>
</pre>


