<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style-ti.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="icon" type="image/x-icon" href="/images/ulster-ti.png">
    

  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          
          <nav>
            <a href="http://images-cdn.fantasyflightgames.com/filer_public/51/55/51552c7f-c05c-445b-84bf-4b073456d008/ti10_pok_living_rules_reference_20_web.pdf">
              <button class="cool-button">Rules Reference</button>
          </a>
            <a href="{{ site.baseurl }}/ti-league"><img src="/images/ti-logo-no-bg.png" id="ti-logo" style="width: 25%;"></a>
            <a href="{{ site.baseurl }}/ti-league">TI League</a>
            <a href="{{ site.baseurl }}/faction-stats">Faction Stats</a>
            <!-- <a href="{{ site.baseurl }}/feed/maps">Maps</a>
            <a href="{{ site.baseurl }}/feed/fixture">Fixture</a> -->
            <a href="{{ site.baseurl }}/feed/game">Games</a>
            <a href="{{ site.baseurl }}/factions">Factions</a>
            <a href="{{ site.baseurl }}/map-gen">Map Builder WIP</a>
            <div class="dropdown">
              <a href="{{ site.baseurl }}/tech-tree" class="dropbtn">Techs</a>
              <div class="dropdown-content">
                <a href="{{ site.baseurl }}/green-tech-tree"><img src="/images/tech-icon/tech_biotic.png"> Biotec Techs</a>
                <a href="{{ site.baseurl }}/yellow-tech-tree"><img src="/images/tech-icon/cybernetic.png"> Cybernetic Techs</a>
                <a href="{{ site.baseurl }}/blue-tech-tree"><img src="/images/tech-icon/propulsion.png"> Propulsion Techs</a>
                <a href="{{ site.baseurl }}/red-tech-tree"><img src="/images/tech-icon/warfare.png"> Warfare Techs</a>
              </div>
            </div>
            
            <a href="{{ site.baseurl }}/secret-section" class="secret-button">•</a>
          </nav>
        </header>
      </div>
    </div>
    
    <div id="main" role="main" class="container">
      {{ content }}
    </div>


    {% include analytics.html %}
  </body>
</html>
