<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style-ti.css" />
    <link rel="stylesheet" type="text/css" href="/styles/Stars.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="icon" type="image/x-icon" href="/images/ulster-ti.png">
    

  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">

          <nav>
            <a href="{{ site.baseurl }}/ti-league"><img src="/images/ti-logo-no-bg.png" id="ti-logo" style="width: 25%;"></a>
            <a href="{{ site.baseurl }}/ti-league">TI League</a>
            <a href="{{ site.baseurl }}/faction-stats">Faction Stats</a>
            <!-- <a href="{{ site.baseurl }}/feed/maps">Maps</a>
            <a href="{{ site.baseurl }}/feed/fixture">Fixture</a> -->
            <a href="{{ site.baseurl }}/feed/game">Games</a>
            <a href="{{ site.baseurl }}/factions">Factions</a>
            <a href="{{ site.baseurl }}/tech-tree">Tech-Tree</a>
          </nav>
        </header>
      </div>
    </div>
    
    <div id="main" role="main" class="container">
      {{ content }}
    </div>


    {% include analytics.html %}
    <a href="https://www.vecteezy.com/free-videos/space-gif" style="color: black;">Space Gif Stock Videos by Vecteezy</a>
  </body>
</html>
