<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style-ti.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <style>
      body {
        background-image: url('/images/space-nowm.gif');
        background-repeat: no-repeat;
        background-size: cover;
      }
      </style>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">TI League</a>
          </nav>
        </header>
      </div>
    </div>
    <img src="/images/TI-logo.png">

    <table id="layout_table">
      <tr id="layout_table">
        <th id="layout_table">
        <div id="main" role="main" class="container">
         {{ content }}
        </div>
      </th>
      <th id="league-key-th">
        <table id="league-key">
          <tr>
            <th>VPs Needed</th>
            <th>League Points</th>
          </tr>
          <tr>
            <td>10 VPs (or Win)</td>
            <td>3PTs</td>
          </tr>
          <tr>
            <td>9 VPs (or Win-1)</td>
            <td>2PTs</td>
          </tr>
          <tr>
            <td>8 VPs (or Win-2)</td>
            <td>1PT</td>
          </tr>
        </table>
        
      </th>
      </tr>
  </table>


    {% include analytics.html %}
  </body>
</html>
