<style>
    body {
      
    }
    
    h1 {
      color: white;
      text-align: center;
    }
    
    p {
      font-family: verdana;
      font-size: 20px;
    }
    
    .blue-tech {
    background-color:gray;
    color: cornflowerblue;
    width:500px;
    border: 5px;
    border-radius: 8px;
    border-style:solid;
    }
    .blue-tech-table {

    }

    .blue-tech-table-hr {
        color: grey;
    }

    .tech-title {
        color: antiquewhite;
    }
    </style>


<!-- ANTIMASS DEFLECTORS -->
<div class="blue-tech">
    <table class="blue-tech-table">
        <tr class="blue-tech-table-hr">
            <th><p class="tech-title">Antimass Deflectors</p></th>
        </tr>
    <hr>
    <p class="tech-title">Your ships can move into and through asteroid fields</p>
    <p class="tech-title">When other players’ units use SPACE CANNON against your units, apply -1 to the result of each die roll</p>


</table>
</div>