<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
    }
    .technology-card {
        background-color: #444040;
        border: 5px solid #0084CA;
        border-radius: 8px;
        padding: 20px;
        width: 100%;
        margin: 5px auto;
        margin-right: 5px;
        text-align: center;
    }
    .technology-card h2 {
        margin-top: 0;
        font-size: 16px;
        color: #dfdfdf;
        text-transform: uppercase;
    }
    .technology-card p {
        color: #dfdfdf;
        font-size: 14px;
        line-height: 1.5;
    }
    .technology-card img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 10px auto;
    }
    .blue-techs {
        margin: auto;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
    }

</style>
<h1 style="color: antiquewhite;">Propulsion Tech</h1>
<!-- Block 1 -->
<div class="blue-techs">

<div class="technology-card">
<h2><img src="/images/tech-icon/propulsion.png" alt="Antimass Deflectors">Antimass Deflectors</h2>

<p>Your ships can move into and through asteroid fields</p>
<p>When other players’ units use SPACE CANNON against your units, apply -1 to the result of each die roll</p>
<p><strong>Prerequisites:</strong> None</p>
</div>


<div class="technology-card">
    <h2><img src="/images/tech-icon/propulsion.png" alt="Antimass Deflectors">Dark Energy Tap</h2>
    
    <p>After you perform a tactical action in a system that contains a frontier token, if you have 1 or more ships in that system, explore that token</p>
    <p>Your ships can retreat into adjacent systems that do not contain other players' units, even if you do not have units or control planets in that system.</p>
    <p><strong>Prerequisites:</strong> None</p>
    </div>

</div>




<!-- Block 2 -->


<div class="blue-techs">

    <div class="technology-card">
        <h2><img src="/images/tech-icon/propulsion.png" alt="Antimass Deflectors">Gravity Drive</h2>
        
        <p>After you activate a system, apply +1 to the move value of 1 of your ships during this tactical action</p>
        <p><strong>Prerequisites:<img src="/images/tech-icon/propulsion.png" alt="Antimass Deflectors"></strong></p>
        </div>


        <div class="technology-card">
            <h2><img src="/images/tech-icon/propulsion.png" alt="Antimass Deflectors">Sling Relay</h2>
            
            <p>ACTION: Exhaust this card to produce 1 ship in any system that contains one of your space docks</p>
            <p><strong>Prerequisites:<img src="/images/tech-icon/propulsion.png" alt="Antimass Deflectors"></strong></p>
            </div>
</div>

<!-- Block 3             -->

<div class="blue-techs">
<div class="technology-card">
    <h2><img src="/images/tech-icon/propulsion.png" alt="Antimass Deflectors">Fleet Logistics</h2>
    
    <p>During each of your turns of the action phase, you may perform 2 actions instead of 1</p>
   
    <p><strong>Prerequisites:</strong> <img src="/images/tech-icon/propulsion.png"><img src="/images/tech-icon/propulsion.png"></p>
    </div>

    <div class="technology-card">
        <h2><img src="/images/tech-icon/propulsion.png" alt="Light/Wave Deflector">Light/Wave Deflector</h2>
        
        <p>Your ships can move through systems that contain other players' ships</p>
       
        <p><strong>Prerequisites:</strong> <img src="/images/tech-icon/propulsion.png"><img src="/images/tech-icon/propulsion.png"><img src="/images/tech-icon/propulsion.png"></p>
        </div>

</div>