<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 20px;
    }
    .green-technology-card {
        background-color: #444040;
        border: 5px solid #009A44;
        border-radius: 8px;
        padding: 20px;
        width: 100%;
        margin: 5px auto;
        margin-right: 5px;
        text-align: center;
    }
    .green-technology-card h2 {
        margin-top: 0;
        font-size: 16px;
        color: #dfdfdf;
        text-transform: uppercase;
    }
    .green-technology-card p {
        color: #dfdfdf;
        font-size: 14px;
        line-height: 1.5;
    }
    .green-technology-card img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 10px auto;
    }
    .blue-techs {
        margin: auto;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
    }

</style>
<h1 style="color: antiquewhite;">Biotec Tech</h1>
<!-- Block 1 -->
<div class="blue-techs">

<div class="green-technology-card">
<h2><img src="/images/tech-icon/tech_biotic.png" alt="Antimass Deflectors">Neural Motivator</h2>

<p>During the status phase, draw 2 action cards instead of 1.</p>
<p><strong>Prerequisites:</strong> None</p>
</div>


<div class="green-technology-card">
    <h2><img src="/images/tech-icon/tech_biotic.png" alt="Antimass Deflectors">Psychoarchaeology</h2>
    
    <p>You can use technology specialties on planets you control without exhausting them, even if those planets are exhausted</p>
    <p>During the Action Phase, you can exhaust planets you control that have technology specialties to gain 1 Trade Good</p>
    <p><strong>Prerequisites:</strong> None</p>
    </div>

</div>




<!-- Block 2 -->


<div class="blue-techs">

    <div class="green-technology-card">
        <h2><img src="/images/tech-icon/tech_biotic.png" alt="Antimass Deflectors">Daxcive Animators</h2>
        
        <p>After you win a ground combat, you may place 1 infantry from your reinforcements on that planet</p>
        <p><strong>Prerequisites:<img src="/images/tech-icon/tech_biotic.png" alt="Antimass Deflectors"></strong></p>
        </div>


        <div class="green-technology-card">
            <h2><img src="/images/tech-icon/tech_biotic.png" alt="Antimass Deflectors">Bio Stims</h2>
            <p>You may exhaust this card at the end of your turn to ready 1 of your planets that has a technology specialty or 1 of your other technologies</p>
            <p><strong>Prerequisites:<img src="/images/tech-icon/tech_biotic.png" alt="Antimass Deflectors"></strong></p>
            </div>
</div>

<!-- Block 3             -->

<div class="blue-techs">
<div class="green-technology-card">
    <h2><img src="/images/tech-icon/tech_biotic.png" alt="Antimass Deflectors">Hyper Metabolism</h2>
    
    <p>During the status phase, gain 3 command tokens instead of 2</p>
   
    <p><strong>Prerequisites:</strong> <img src="/images/tech-icon/tech_biotic.png"><img src="/images/tech-icon/tech_biotic.png"></p>
    </div>

    <div class="green-technology-card">
        <h2><img src="/images/tech-icon/tech_biotic.png" alt="Light/Wave Deflector">X-89 Bacterial Weapon</h2>
        
        <p>ACTION: Exhaust this card and choose 1 planet in a system that contains 1 or more of your ships that have BOMBARDMENT; destroy all infantry on that planet</p>
       
        <p><strong>Prerequisites:</strong> <img src="/images/tech-icon/tech_biotic.png"><img src="/images/tech-icon/tech_biotic.png"><img src="/images/tech-icon/tech_biotic.png"></p>
        </div>

</div>