<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 20px;
    }
    .red-technology-card {
        background-color: #444040;
        border: 5px solid #E03C31;
        border-radius: 8px;
        padding: 20px;
        width: 100%;
        margin: 5px auto;
        margin-right: 5px;
        text-align: center;
    }
    .red-technology-card h2 {
        margin-top: 0;
        font-size: 16px;
        color: #dfdfdf;
        text-transform: uppercase;
    }
    .red-technology-card p {
        color: #dfdfdf;
        font-size: 14px;
        line-height: 1.5;
    }
    .red-technology-card img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 10px auto;
    }
    .blue-techs {
        margin: auto;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
    }

</style>
<h1 style="color: antiquewhite;">Warfare Tech</h1>
<!-- Block 1 -->
<div class="blue-techs">

<div class="red-technology-card">
<h2><img src="/images/tech-icon/warfare.png" alt="Antimass Deflectors">Plasma Scoring</h2>

<p>When 1 or more of your units use Bombardment or Space Cannon, 1 of those units may roll 1 additional die</p>
<p><strong>Prerequisites:</strong> None</p>
</div>


<div class="red-technology-card">
    <h2><img src="/images/tech-icon/warfare.png" alt="Antimass Deflectors">AI Development Algorithm</h2>
    
    <p>When you research a unit upgrade technology, you may exhaust this card to ignore any 1 prerequisite</p>
    <p>When 1 or more of your units use Production, you may exhaust this card to reduce the combined cost of the produced units by the number of unit upgrade technologies that you own</p>
    <p><strong>Prerequisites:</strong> None</p>
    </div>

</div>




<!-- Block 2 -->


<div class="blue-techs">

    <div class="red-technology-card">
        <h2><img src="/images/tech-icon/warfare.png" alt="Antimass Deflectors">Magen Defense Grid</h2>
        
        <p>You may exhaust this card at the start of a round of ground combat on a planet that contains 1 or more of your units that have Planetary Shield; your opponent cannot make combat rolls this combat round.</p>
        <p><strong>Prerequisites:<img src="/images/tech-icon/warfare.png" alt="Antimass Deflectors"></strong></p>
        </div>


        <div class="red-technology-card">
            <h2><img src="/images/tech-icon/warfare.png" alt="Antimass Deflectors">Self Assembly Routines</h2>
            <p>After 1 or more of your units use PRODUCTION, you may exhaust this card to place 1 mech from your reinforcements on a planet you control in that system</p>
            <p>After 1 of your mechs is destroyed, gain 1 trade good</p>
            <p><strong>Prerequisites:<img src="/images/tech-icon/warfare.png" alt="Antimass Deflectors"></strong></p>
            </div>
</div>

<!-- Block 3             -->

<div class="blue-techs">
<div class="red-technology-card">
    <h2><img src="/images/tech-icon/warfare.png" alt="Antimass Deflectors">Duranium Armor</h2>
    
    <p>During each combat round, after you assign hits to your units, repair 1 of your damaged units that did not use Sustain Damage during this combat round</p>
   
    <p><strong>Prerequisites:</strong> <img src="/images/tech-icon/warfare.png"><img src="/images/tech-icon/warfare.png"></p>
    </div>

    <div class="red-technology-card">
        <h2><img src="/images/tech-icon/warfare.png" alt="Light/Wave Deflector">Assault Cannon</h2>
        
        <p>At the start of a space combat in a system that contains 3 or more of your non-fighter ships, your opponent must destroy 1 of their non-fighter ships</p>
       
        <p><strong>Prerequisites:</strong> <img src="/images/tech-icon/warfare.png"><img src="/images/tech-icon/warfare.png"><img src="/images/tech-icon/warfare.png"></p>
        </div>

</div>