<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 20px;
    }
    .unit-technology-card {
        background-color: #444040;
        border: 5px solid #9a5cb3;
        border-radius: 8px;
        padding: 20px;
        width: 100%;
        margin: 5px auto;
        margin-right: 5px;
        text-align: center;
        height: auto;
    }
    .unit-technology-card h2 {
        margin-top: 0;
        font-size: 16px;
        color: #dfdfdf;
        text-transform: uppercase;
    }
    .unit-technology-card p {
        color: #dfdfdf;
        font-size: 14px;
        line-height: 1.5;
    }
    .unit-technology-card img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 10px auto;
    }
    .blue-techs {
        margin: auto;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
    }

</style>


<h1 style="color: antiquewhite;">Unit Upgrade Tech</h1>
<!-- Block 1 -->
<div class="blue-techs">

<div class="unit-technology-card">
<h2>Infantry II</h2>
<p><strong>Prerequisites:</strong> <img src="/images/tech-icon/tech_biotic.png"><img src="/images/tech-icon/tech_biotic.png"></p>
</div>


<div class="unit-technology-card">
    <h2>Carrier II</h2>
    <p><strong>Prerequisites:</strong> <img src="/images/tech-icon/propulsion.png"><img src="/images/tech-icon/propulsion.png"></p>
    </div>

</div>




<!-- Block 2 -->


<div class="blue-techs">

    <div class="unit-technology-card">
        <h2>Space Dock II</h2>
        <p><strong>Prerequisites:<img src="/images/tech-icon/cybernetic.png"><img src="/images/tech-icon/cybernetic.png"></strong></p>
        </div>


        <div class="unit-technology-card">
            <h2>Destroyer II</h2>
            
            <p><strong>Prerequisites:<img src="/images/tech-icon/warfare.png"><img src="/images/tech-icon/warfare.png"></strong></p>
            </div>
</div>

<!-- Block 3             -->

<div class="blue-techs">
<div class="unit-technology-card">
    <h2>Fighter II</h2>

    <p><strong>Prerequisites:</strong><img src="/images/tech-icon/cybernetic.png"><img src="/images/tech-icon/propulsion.png"></p>
    </div>

    <div class="unit-technology-card">
        <h2>PDS II</h2>
       
        <p><strong>Prerequisites:</strong> <img src="/images/tech-icon/cybernetic.png"><img src="/images/tech-icon/warfare.png"></p>
        </div>

</div>

<!-- Block 4             -->

<div class="blue-techs">
    <div class="unit-technology-card">
        <h2>Dreadnought II</h2>
    
        <p><strong>Prerequisites:</strong><img src="/images/tech-icon/propulsion.png"><img src="/images/tech-icon/propulsion.png"> <img src="/images/tech-icon/cybernetic.png"></p>
        </div>
    
        <div class="unit-technology-card">
            <h2>Cruiser II</h2>
           
            <p><strong>Prerequisites:</strong><img src="/images/tech-icon/tech_biotic.png"> <img src="/images/tech-icon/cybernetic.png"><img src="/images/tech-icon/warfare.png"></p>
            </div>
    
    </div>

<div class="blue-techs">
    <div class="unit-technology-card">
        <h2>Warsun</h2>
    
        <p><strong>Prerequisites:</strong><img src="/images/tech-icon/cybernetic.png"><img src="/images/tech-icon/warfare.png"> <img src="/images/tech-icon/warfare.png"><img src="/images/tech-icon/warfare.png"></p>
        </div>

    
    </div>