<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
    }
    .yellow-technology-card {
        background-color: #444040;
        border: 5px solid #D7C826;
        border-radius: 8px;
        padding: 20px;
        width: 100%;
        margin: 5px auto;
        margin-right: 5px;
        text-align: center;
    }
    .yellow-technology-card h2 {
        margin-top: 0;
        font-size: 16px;
        color: #dfdfdf;
        text-transform: uppercase;
    }
    .yellow-technology-card p {
        color: #dfdfdf;
        font-size: 14px;
        line-height: 1.5;
    }
    .yellow-technology-card img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 10px auto;
    }
    .blue-techs {
        margin: auto;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
    }

</style>
<h1 style="color: antiquewhite;">Cybernetic Tech</h1>
<!-- Block 1 -->
<div class="blue-techs">

<div class="yellow-technology-card">
<h2><img src="/images/tech-icon/cybernetic.png" alt="Antimass Deflectors">Sarween Tools</h2>

<p>When 1 or more of your units use Production, reduce the combined cost of the produced units by 1</p>
<p><strong>Prerequisites:</strong> None</p>
</div>


<div class="yellow-technology-card">
    <h2><img src="/images/tech-icon/cybernetic.png" alt="Antimass Deflectors">Scanlink Drone Network</h2>
    
    <p>When you activate a system, you may explore 1 planet in that system which contains 1 or more of your units</p>
    <p><strong>Prerequisites:</strong> None</p>
    </div>

</div>




<!-- Block 2 -->


<div class="blue-techs">

    <div class="yellow-technology-card">
        <h2><img src="/images/tech-icon/cybernetic.png" alt="Antimass Deflectors">Graviton Laser System</h2>
        
        <p>You may exhaust this card before 1 or more of your units uses Space Cannon; hits produced by those units must be assigned to non-fighter ships if able</p>
        <p><strong>Prerequisites:<img src="/images/tech-icon/cybernetic.png" alt="Antimass Deflectors"></strong></p>
        </div>


        <div class="yellow-technology-card">
            <h2><img src="/images/tech-icon/cybernetic.png" alt="Antimass Deflectors">Predictive Intelligence</h2>
            <p>At the end of your turn, you may exhaust this card to redistribute your command tokens</p>
            <p>When you cast votes during the agenda phase, you may cast 3 additional votes; if you do, and the outcome you voted for is not resolved, exhaust this card</p>
            <p><strong>Prerequisites:<img src="/images/tech-icon/cybernetic.png" alt="Antimass Deflectors"></strong></p>
            </div>
</div>

<!-- Block 3             -->

<div class="blue-techs">
<div class="yellow-technology-card">
    <h2><img src="/images/tech-icon/cybernetic.png" alt="Antimass Deflectors">Transit Diodes</h2>
    
    <p>You may exhaust this card at the start of your turn during the action phase; remove up to 4 of your ground forces from the game board and place them on 1 or more planets you control.</p>
   
    <p><strong>Prerequisites:</strong> <img src="/images/tech-icon/cybernetic.png"><img src="/images/tech-icon/cybernetic.png"></p>
    </div>

    <div class="yellow-technology-card">
        <h2><img src="/images/tech-icon/cybernetic.png" alt="Light/Wave Deflector">Integrated Economy</h2>
        
        <p>After you gain control of a planet, you may produce any number of units on that planet that have a combined cost equal to or less than that planet’s resource value.</p>
       
        <p><strong>Prerequisites:</strong> <img src="/images/tech-icon/cybernetic.png"><img src="/images/tech-icon/cybernetic.png"><img src="/images/tech-icon/cybernetic.png"></p>
        </div>

</div>